<div class="container form">
  <h2>New cocktail</h2>

  <div class="form-style">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :description, input_html: { placeholder: 'Describe your cocktail' } %>
      <%= f.input :photo_url %>
      <%= f.button :submit, class: "btn btn-submit" %>
    <% end %>
  </div>
</div>